
.list-jobs {
    cursor: pointer;
}

.list-jobs:hover {
    background: #f8f9fa;
}

.no-underline {
    text-decoration: none;
}

ul.list-unstyled li::before {
    content: "\2022";
    color: #000; 
    margin-right: 5px; 
}